table {
    width: 100%;
    border-collapse: collapse;
}

.main {
  padding: 0px 30px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
}

td {
  text-align: left;
  /* background-color: white; */
}

th {
  background-color: #bbbaba;
  text-align: center;
}


.even-row {
  background-color: rgb(246, 246, 226);
}

.odd-row {
  background-color: white;
}

.options {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
}

#add-book {
  color: white;
  background-color: #0c5c8a;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  margin: 15px;
  margin-left: 30px;
}

.delete {
  color: white;
  background-color: #a90f0f;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
}

.change-read {
  color: white;
  background-color: #0fa919;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: rgb(127, 204, 229);
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header-title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(199, 226, 235);
}

dialog {
  background-color: beige;
  height: 250px;
  width: 550px;
  border: 4px darkslategrey solid;
  border-radius: 10px;
  padding-right: 50px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  margin-top: 20px;
  padding-left: 50px;
}

#form > label {
  justify-content: space-between;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
}

fieldset {
  justify-content: space-evenly;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
}

#form > button {
  display: inline;
  width: 100px;
  align-self: center;
  font-weight: 600;
  padding: 3px 0px;
}

input {
  width: 70%;
}
